*{
    margin: 0px;
    padding: 0px;
}



.bigc{
    width: 350px;
    height: 350px;
    border: solid 5px white;
    border-radius: 50%;
    background-image: url(https://t3.ftcdn.net/jpg/01/67/72/04/360_F_167720496_af8JnHFQM7QMyIIz31tgp289ukGtlXKB.jpg);
    position: relative;
    margin-top: 20px;
}

.main{
    width: 900px;
    height: 650px;
    background-color: rgb(207, 240, 238);
    display: flex;
    margin-top: 50px;
    justify-content: center;
    margin-left: 200px;
    margin-bottom: 20px;
}

.smallc1{
   width: 150px;
   height: 150px;
   border-radius: 50%;
   background-image: url(https://static.vecteezy.com/system/resources/thumbnails/040/213/284/small_2x/ai-generated-natural-archway-of-sunlit-trees-in-the-forest-created-with-generative-ai-photo.jpg);
   background-repeat: no-repeat;
   background-size: cover;
position: absolute;
top: 290px;
left: 410px;
}

.box1{
    width: 300px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
    position: absolute;
    top: 260px;
    left: 700px;
}

.h1{
    padding-left: 70px ;
    padding-top: 35px;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

.p1{
    padding-top: 20px ;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.but{
    margin-left: 100px;
    margin-top: 20px;
}

.smallc2{
    width: 110px;
    height: 110px;
    background-color:   rgb(154, 211, 201);
    border: solid 30px rgb(150, 193, 199);
    border-radius: 50%;
    position: absolute;
    top: 490px;
    left: 500px;
}

.smallc3{
    width: 60px;
    height: 60px;
    background-color:   rgb(154, 211, 201);
    border: solid 20px rgb(150, 193, 199);
    border-radius: 50%;
    position: absolute;
    top: 450px;
    left: 350px;

}